<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <div class="bg-white rounded p-3 shadow">
        <h3>Create a new movie list</h3>
        <%= simple_form_for @list do |f| %>
          <%= f.input :name, placeholder: 'Drama' %>
          <%= f.input :photo, as: :file, label: "Choose an image for your list"%>
          <%= f.submit class: 'btn btn-flat' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
